/* Table container for responsive scrolling */
.table-container {
  width: 95%;
  overflow-x: auto;
  margin: 20px auto; /* Center horizontally */
  display: flex;
  justify-content: center; /* Ensures content inside is centered */
  margin-bottom: 100px;
}

/* Table styling */
.race-results {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  align-items: center;
}

/* Header row styling */
.race-results thead tr {
  text-align: left;
}

.race-results th {
  padding: 15px; /* Increased padding for better spacing */
  background-color: #121028;
  color: white;
}

/* Body row styling */
.race-results td {
  padding: 15px; /* Increased padding for better spacing */
  color: white;
}

/* Alternating row colors */
.even-row {
  background-color: rgba(18, 16, 40, 0.5);
}

.odd-row {
  background-color: rgba(18, 16, 40, 0.3); /* Added color for odd rows */
}

/* Hover effect */
.race-results tbody tr:hover {
  transition: 0.2s;
  background-color: rgba(18, 16, 40, 0.7); /* Slightly darker on hover */
}

/* Style for athlete links */
.athlete-link {
  color: white; /* Change the color to your preference */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.athlete-link:hover {
  color: white; /* Change the color on hover */
    font-weight: bold; /* Make the link text bold */
  text-decoration: underline; /* Add underline on hover */
}

/* Make table responsive */
@media (max-width: 768px) {
  .race-results th,
  .race-results td {
    font-size: 14px;
    padding: 8px;
  }
}